# Function dependencies, for example:
# package>=version
requests==2.27.1
openai~=0.25.0
google~=3.0.0
Flask~=2.2.2
functions_framework~=3.3.0
google-cloud-firestore==2.9
python_dotenv==1.0.0
firebase_admin~=6.1.0